<a class="logo" href="/tokenomics">{{tokenomics}}</a>
<svg class="hamburger"><path d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z"/></svg>
<BiiP></BiiP>
<header>
<svg class="close" viewBox="0 0 128 128"><path d="M64 0a64 64 0 1 0 64 64A64.07 64.07 0 0 0 64 0Zm0 122a58 58 0 1 1 58-58 58.07 58.07 0 0 1-58 58Z"/><path d="M92.12 35.79a3 3 0 0 0-4.24 0L64 59.75l-23.87-24A3 3 0 0 0 35.88 40l23.88 24-23.88 24a3 3 0 0 0 4.25 4.24L64 68.25l23.88 24A3 3 0 0 0 92.13 88L68.24 64l23.89-24a3 3 0 0 0-.01-4.21Z"/></svg>
    <nav id="nav">
        <a href="/"><img src="/svgs/home.svg" loading="lazy" alt="Homepage"/>{{home}}</a>
        <a href="/tokenomics"><img src="/svgs/gratitude-token-logo.svg" loading="lazy" alt="Tokenomics"/>{{buy}}</a>
        <a href="/white-paper"><img src="/svgs/pdf-icon.svg" loading="lazy" alt="White Paper"/>{{whitePaper}}</a>
        <a id="languageSelect"><i>{{lang-code}}</i>{{language}}</a>
    </nav>
</header>

<div class="wrapper-wide">
    <div class="content-wide">
        <div class="grid-1-2">
            <div>
                <h2 style="text-align: center">INVEST AND BECOME AN EARLY ADOPTER</h2>
                <br>
                <div style="text-align: center; margin: 23px 0">Public Presale starts in:</div>
                <div class="countdown IDODeadline main-color" data-deadline="Sept 09, 2022 23:23:23"></div>
                <div class="main-color" style="text-align: center; margin: 23px 0">DAYS : HOURS : MINUTES : SECONDS</div>
                <iframe style="border-radius: 15px; margin: 23px auto; display: block" width="560" height="315" src="https://www.youtube.com/embed/y-mpLMX-bDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p><b class="color-white">Public Presale progress:</b> <img class="mini-icon" src="/svgs/gratitude-token-logo.svg"/> <b class="tokens-sold">0</b>/4.000.000 GRAT Tokens sold</p>
                <div class="progress-bar"><span>0%</span></div><br><br>

                <b id="orders">4</b> investors ordered a total of <b class="tokens-sold">104.000</b> GRAT tokens, equivalent to $<b id="dollars">10.400</b><br><br>
                <div class="scrollz">
                    <table>
                        <tr><th>username</th><th>amount</th><th>status</th></tr>
                        <tr><td>lucian</td><td>23000</td><td>completed</td></tr>
                        <tr><td>catalina</td><td>20000</td><td>completed</td></tr>
                        <tr><td>maria</td><td>1000</td><td>pending</td></tr>
                        <tr><td>daniel</td><td>50000</td><td>pending</td></tr>
                    </table>
                </div>
                <br><br>
                <h2>Terms and Conditions</h2><br>
                <p class="font10">
                    <b>No investment advice</b><br>
                    The information provided on this website does not constitute investment advice, financial advice, trading advice, or any other sort of advice and you should not treat any of the website's content as such.<br>
                    Any investment in general has it's own risk associated with it, Gratitude Token is not a riskless investment.<br>
                    Market conditions and other factors can lead to long term price fluctuations. So please do conduct your own due diligence and consult your financial advisor before making any investment decisions.
                    <br><br>
                    <b>Accuracy of information</b><br>
                    GratitudeToken.world will strive to ensure accuracy of information listed on this website although it will not hold any responsibility for any missing or wrong information. GratitudeToken.world provides all information as is. You understand that you are using any and all information available here at your own risk.<br><br>
                    <b>What you get</b><br>
                    Investing in the Public Presale and IDO means that you are supporting the open-source community at GratitudeToken.world to develop BiiP based technologies and provide better alternatives to the currently established corporate online services that make up the internet. In exchange, you get the potential for high returns on your investment (more than the people that will invest after the Public Presale and IDO), but even this investment has its risks and it might not pay off immediately after the Public Presale and IDO will end.<br>
                    You might have to wait a long time, anywhere from a few months to a few years to see some financial gains, or if some other force majeure will take place, your investment might lose some of its value.<br>
                    It is our belief, not a guarantee, that the Gratitude Tokens will never lose all of their value and that they will always be valued at a higher price long term by the markets we'll help create.<br>
                    If our mission goes well, the financial gains can be very high long term and the internet as we know it will be a thing of the past. "It will transform from a caterpillar into a butterfly".<br>
                    The internet will transform from a pyramid, a "Social" media "Echo Chamber" to what it was always destined to be, a unifying Biosphere Media. It will not be just as a multi-tool for connecting with our fellow humans to share information (art, knowledge, technology, wisdom, etc), but also a tool for empowering everyone equally and uniformly, enabling every individual almost 100% retention of value from their interaction with platforms/apps which are using BiiP.<br>
                    Thus we are aiming to enable any human to extract value from BiiP networks, to retain that value, to grow it exponentially and instantly accross all domains and applications, as opposed to bestowing these rights to only a few people at the top of currently established internet corporations that have monopolized what we call the Internet of today (2022).
                </p><br><br>
                <h2>CREATE ORDER</h2><br><br>
                <form id="order-form" class="grid-1-3" action="?" method="POST">
                    <div>
                        <label for="order-username">Username</label><br>
                        <input id="order-username" type="text" maxlength="23" placeholder="your blockchain username" /><br><br><br>
                        <label for="order-amount">Tokens amount <span class="color-gray">(50.000 limit per order)</span></label><br>
                        <input id="order-amount" type="number" min="1" max="50000" placeholder="1" /><br><br><br>
                        <label for="order-email">Email <span class="color-gray">(will not be made public)</span></label><br>
                        <input id="order-email" type="email" maxlength="32" placeholder="your email" />
                    </div>
                    <div class="grid-span2columns">
                        <label for="order-mentions">Mentions <span class="color-gray">(will not be made public)</span></label><br>
                        <textarea id="order-mentions" maxlength="1000"></textarea><br><br>
                        <div class="g-recaptcha" data-sitekey="6Ld-i7khAAAAAIXfJ-dBOJXrgNePcQXgGksi3hoT"></div><br>
                        <input id="terms" type="checkbox" /> <label for="terms">I agree to the Terms and Conditions above.</label>
                        <input id="order-submit" type="submit" value="Submit" />
                    </div>
                </form><br><br>
                <h2 style="color: lime">Need help?</h2><br>
                Contact us at <img style="vertical-align: text-bottom;" src="/tokenomics/img/support.png"/>, or message us through the 'Social' Media links in the footer.
            </div>
            <div>
                <h2 style="text-align: center">EGALITARIAN TOKENOMICS</h2>
                <br>
                <img class="img1" src="/tokenomics/img/gratitude-tokenomics.png"/>
                <br><br><br><br>
                <h2>Step 1 - PUBLIC PRESALE</h2>
                <p>Starts on <span class="color-white">9 September 2022</span> and ends on <span class="color-white">2 December 2022</span>. Remaining tokens
                will be pushed to the IDO supply.<br><br>
                <b class="color-white">PUBLIC PRESALE DISCOUNT ROADMAP:</b><br>
                <b style="color: #0dfff3">$0.1 / Token</b> between <span class="color-white">9 September - 16 September</span> (12 PM, UTC +3)<br>
                <b style="color: #00ffc8">$0.2 / Token</b> between <span class="color-white">17 September - 23 September</span> (12 PM, UTC +3)<br>
                <b style="color: #0dff86">$0.3 / Token</b> between <span class="color-white">24 September - 30 September</span> (12 PM, UTC +3)<br>
                <b style="color: #0dff35">$0.4 / Token</b> between <span class="color-white">1 October - 7 October</span> (12 PM, UTC +3)<br>
                <b style="color: #35ff0d">$0.5 / Token</b> between <span class="color-white">8 October - 14 October</span> (12 PM, UTC +3)<br>
                <b style="color: #8eff0d">$0.6 / Token</b> between <span class="color-white">15 October - 21 October</span> (12 PM, UTC +3)<br>
                <b style="color: #ffef0d">$0.7 / Token</b> between <span class="color-white">22 October - 28 October</span> (12 PM, UTC +3)<br>
                <b style="color: #ff960d">$0.8 / Token</b> between <span class="color-white">29 October - 4 November</span> (12 PM, UTC +3)<br>
                <b style="color: #ff450d">$0.9 / Token</b> between <span class="color-white">5 November - 11 November</span> (12 PM, UTC +3)<br>
                <b style="color: #ff0d0d">$1.0 / Token</b> between <span class="color-white">12 November - 2 December</span> (12 PM, UTC +3)<br><br>
                The goal of the public presale and IDO is to allow early investors to support our ambitious mission by swapping/exchanging Fiat currency or other crypto currencies (BTC, ETH, USDC, etc) for GRAT tokens.<br><br>
                These early adopters will gain long term value while helping us develop revolutionary BiiP based technologies and applications with real-utility.<br><br>
                <b>All tokens will eventually endup in the wallets of users.</b><br>
                We aim to raise enough liquidity to keep the price during the IDO on a steady organic growth trend, but also to pay for the development of all the technologies envisioned in the white paper.</p>
                <br><br>
                <h2>Step 2 - IDO (Initial DEX Offering)</h2>
                <p>Starts on <span class="color-white">9 December 2022</span> and ends when all the 96 Million tokens + Public Presale
                reports are sold.</p>
                <p>
                    <b>Adaptive IDO</b><br>
                    For any month with reports (tokens that were not aquired by investors) the reported GRAT tokens will be carried to the next month where we will only add a difference up to 8.000.000 tokens. This ensures a uniform distribution accross time. This means that the IDO supply will not exceed more than 8.000.000 GRAT tokens per month, until all 96 million tokens are consumed by investors.<br><br>

                    This semi-automatic emission method is as adaptive as PoW (Proof of Work), but with the major difference, or should we say extra benefit that you don't have to invest in mining hardware / rent / power to receive/mint new tokens. We don't want to harm the Biosphere when you can just invest or register to get and hold GRAT tokens directly.<br><br>

                    Our simple yet effective strategy is enough to not allow 'whales' to gobble up most of the IDO supply and to avoid contributing to the already critical Biosphere Pollution problems. It's very important that we avoid chemical emissions that would have happened with a mining algorithm for minting/emitting the tokens.
                </p>
                <br><br>
                <h2>Step 3 - Long term AirDrops</h2>
                <p>Starts when the first Genesis Initiative is launched and ends when the last remaining token
                is airdropped (freely distributed) to registering users of Genesis Iniatives or other projects
                that implemented our BiiP technology or that is collaborating with the GratitudeToken.world
                community.</p>
                <br><br>
                <h2>Price Predictions</h2>
                <p>Based on a series of simulations we predict the price will eventually be much higher than the
                IDO price, due to demand for Gratitude Tokens that will be created by providing real utility through Genesis Initiatives and other projects.<br><br>

                As users acquire more tokens, we know many of them will exchange it to fiat or other crypto. The pairs (markets) created during and after the IDO will have the price of the tokens dictated by real supply and demand, no fake volumes.<br><br>

                It is our experience, that listing a crypto coin or token on multiple exchanges is not only unsafe, but also does not provide long term organic growth for the price of a crypto currency or asset. Therefore, we are looking to offer a few safe entry points to the token for investors and not expose our network to many attack vectors where hackers or fraudulent exchanges can run with your Gratitude Tokens.<br><br>

                To keep the general price of the tokens at a decent level long term, we rely on the prediction that most users that will receive airdrops will need more tokens to be able to fully enjoy the experience Genesis Initiative platforms or apps will provide.<br><br>

                Due to the limited supply of tokens, there will always be more buy orders than sell orders, ensuring a higher price then the starting price  of the presale or the IDO.
                </p>
                - charts with simulation results here -
            </div>
        </div>
        {{{recruitment}}}
        <div class='shareThis'>{{{share}}}</div><div class='sharethis-inline-share-buttons'></div>
        {{{footer_nav}}}
        <footer>
            {{{footer}}}
            {{{copy}}}
        </footer>
    </div>
</div>