<meta name="description" content="{{metaDescription}}">
<!-- Open Graph -->
<meta property="og:title" content="{{metaTitle}}" />
<meta property="og:description" content="{{metaDescription}}" />
<meta property="og:image" content="https://gratitudetoken.world/white-paper/img/white-paper.jpg" />
<meta property="og:url" content="https://gratitudetoken.world/white-paper" />
<meta property="og:site_name" content="gratitudetoken.world/white-paper" />

<!-- Twitter Cards -->
<meta name="twitter:title" content="{{metaTitle}}">
<meta name="twitter:description" content="{{metaDescription}}">
<meta name="twitter:image" content="https://gratitudetoken.world/white-paper/img/white-paper-twitter.jpg">
<meta name="twitter:site" content="@Gratitude_World">
<meta name="twitter:creator" content="@Lucian_Apetrei">

<title>{{whitePaper}} | GratitudeToken.world</title>