<a class="logo" href="/genesis">{{Genesis}}</a>
<svg class="hamburger"><path d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z"/></svg>
<BiiP></BiiP>
<header>
<svg class="close" viewBox="0 0 128 128"><path d="M64 0a64 64 0 1 0 64 64A64.07 64.07 0 0 0 64 0Zm0 122a58 58 0 1 1 58-58 58.07 58.07 0 0 1-58 58Z"/><path d="M92.12 35.79a3 3 0 0 0-4.24 0L64 59.75l-23.87-24A3 3 0 0 0 35.88 40l23.88 24-23.88 24a3 3 0 0 0 4.25 4.24L64 68.25l23.88 24A3 3 0 0 0 92.13 88L68.24 64l23.89-24a3 3 0 0 0-.01-4.21Z"/></svg>
    <nav id="nav">
        <a id="languageSelect"><i>{{lang-code}}</i>{{language}}</a>
        <a href="/"><img src="/svgs/gratitude-token-logo.svg" loading="lazy" alt="GratitudeTone.world Homepage"/>{{home}}</a>
        <a href="/shield"><img src="/svgs/SHIELD-logo.svg" loading="lazy" alt="SHIELD: Sustainable Holistic Intelligent Enterprise & Leaderless Development logo svg"/>SHIELD</a>
        <a href="/white-paper"><img src="/svgs/pdf-icon.svg" loading="lazy" alt="pdf whitepaper svg icon"/>{{whitePaper}}</a>
    </nav>
</header>

<div class="wrapper">
    <label class="showSidebar" for="showSidebar"></label>
    <input type="checkbox" name="showSidebar" id="showSidebar">
    <nav>
        <a class="h1" href="#">{{documentation}}</a><br>
        <a href="#">{{introduction}}</a><br>
    </nav>
    <div class="content">
        <div id="breadcrumbs"><a href="/genesis"><b>{{Genesis}}</b></a> &#8827; <a href="#">{{welcome}}</a></div>
        {{{wip}}}
        {{{recruitment}}}
        <div class='shareThis'>{{{share}}}</div><div class='sharethis-inline-share-buttons'></div>
        {{{footer_nav}}}
        <footer>
            {{{footer}}}
            {{{copy}}}
        </footer>
    </div>
</div>