<meta name="description" content="{{metaDescription}}">
<!-- Open Graph -->
<meta property="og:title" content="{{metaTitle}}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{metaDescription}}" />
<meta property="og:image" content="https://gratitudetoken.world/genesis/img/Genesis.jpg" />
<meta property="og:url" content="https://gratitudetoken.world" />
<meta property="og:site_name" content="Gratitude Token World" />

<!-- Twitter Cards -->
<meta name="twitter:title" content="{{metaTitle}}">
<meta name="twitter:description" content="{{metaDescription}}">
<meta name="twitter:image" content="https://gratitudetoken.world/genesis/img/Genesis-twitter.jpg">
<meta name="twitter:site" content="@Gratitude_World">
<meta name="twitter:creator" content="@Lucian_Apetrei">

<title>{{Genesis}} | GratitudeToken.world</title>